extends layout

block content
    div(class='form')
        h1 Add a new message!
        div
            form(method="POST", action="/new") 
                span(class='form-el')
                    p= 'Name: '
                    input(type="text", name="author", value='')
                span(class='form-el')
                    p= 'Message: '
                    input(type="text", name="message", value='')
                input(type="submit", value="Submit", class='button')
