extends layout

block content
  h1 Welcome to my #{title}
  a(href="/new") Make a message! 
  h3 Messages here:
  div(class='container')
    if !messages 
      div make the first message!
    else 
      each val in messages
        ul(class="message")
          li <strong>#{val.author}</strong> - #{val.date}
          li #{val.message}

    
